{% extends 'navbar.html' %}
<style>
    .main_body {
        display: flex;
        justify-content: center;
        padding-top: 5px;
        padding-left: 150px;
        background-color: #f7f7f7;
    }
</style>
<head>
</head>
<!DOCTYPE html>
<html>
<head>
    <title>노래 차트</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>


{% block content %}
<body>
    <h1><a href="/">Home</a></h1>
    <h2><a href="/song-list/">노래 리스트</a></h2>
    <table>
        <thead>
            <tr>
                <th colspan="6">
                    <div style="text-align: center;">
                        <form method="post">
                            {% csrf_token %}
                            <button>
                                <a href="/song-list/">TJ</a>
                            </button>
                            <button>
                                <a href="/song-list/ky/">KY</a>
                            </button>
                        </form>
                    </div>
                    <div>
                        <!-- 곡 검색용 서치바 form -->
                        <form action="/song-list/search/" method="GET">
                            <input type="text" name="query" placeholder="검색어를 입력하세요">
                            <button type="submit">검색</button>
                        </form>                          
                    </div>
                </th>
            </tr>
            <tr>
                <th>순위</th>
                <th>곡번호</th>
                <th>곡명</th>
                <th>아티스트</th>
                <th>작곡가</th>
                <th>작사가</th>
                <th>Mylist</th>
            </tr>
        </thead>
        <tbody>
            {% for song in songs %}
            <tr>
                <td>{{ song.rank }}</td>
                <td>{{ song.song_num_id }}</td>
                <td>{{ song.title }}</td>
                <td>{{ song.artist }}</td>
                <td>{{ song.cmp }}</td>
                <td>{{ song.writer }}</td>
                <td>
                    <button onclick="addToDB('{{ song.song_num_id }}')">추가</button>
                    <select id="folderSelect">
                        {% for folder in folders %}
                            <option value="{{ folder.list_number }}">{{ folder.list_name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
{% endblock %}


{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    function addToDB(song_num_id) {
        // 선택한 My_folder의 list_number와 list_name 가져오기
        var folderSelect = $("#folderSelect");
        var listNumber = folderSelect.val();
        var listName = folderSelect.find("option:selected").text();

        console.log(song_num_id);

        // AJAX 요청을 생성
        $.ajax({
            type: 'POST',
            url: '/song-list/add-to-kylist/',
            dataType: 'text',
            headers: {
                "X-CSRFToken": csrftoken
            },
            contentType: 'application/json',
            data: JSON.stringify({
                song_num_id: song_num_id,
                listNumber: listNumber,
                listName: listName
            }),
            success: function(response) {
                var parsedResponse = JSON.parse(response);
                if (parsedResponse.status === 'success') {
                    console.log('데이터 추가 성공');
                    var successMessage = '추가되었습니다.';
                    alert(successMessage)
                } else if (parsedResponse.status === 'error') {
                    console.log('데이터 추가 실패: ' + parsedResponse.message);
                    var errorMessage = '이미 추가된 노래입니다.';
                    alert(errorMessage);
                }
            },
            error: function(xhr, textStatus, errorThrown) {
                console.log('AJAX 요청 실패');
                var errorMessage = 'error';
                alert(errorMessage);
            }
        });

        console.log(data);
    }

    

    $(document).ready(function() {
        $("button").click(function() {
            var category = $(this).val();  // 버튼의 값(category)을 가져옴
            var query = $("input[name='query']").val();  // 검색어를 가져옴
            var folderSelect = $("#folderSelect");


            $.ajax({
                type: 'POST',
                url: '/song-list/',
                data: {
                    'category': category,
                    'query': query,  // 검색어(query)를 데이터에 포함시킴
                },
                success: function(response) {
                    // 필터링된 노래 리스트를 받아와서 화면에 표시하는 로직 작성
                    console.log(response);
                }
            });
        });
    });

    $.ajaxSetup({
        headers: { "X-CSRFToken": csrftoken }
    });

    

</script>

{% endblock %}