{% extends 'navbar.html' %}
{% block style %}
<link rel="stylesheet" href="/static/css/mylist-html.css">
{% endblock %}

{% block content %}

<div class="mylist">
    <div class="mylist-top"></div>
    <div class="card">
        <div class="mask-group">
            <div class="rectangle-356"></div>
            <div class="rectangle-370"></div>
            <div class="rectangle-368"></div>
            <div class="rectangle-369"></div>
        </div>

        <div class="title-img">
            <div class="title-img-box"></div>
        
            <img class="title-img-style" src="/static/img/mic-dicons.svg" />
        </div>
        {% for folder in folders %}
        <div class="list-name">
            {{folder.list_name}}
        </div>

        <div class="title-text-box">
            <div class="title-text-2">{{folder.song_count}}</div>
            <div class="title-text-1">곡 달릴 예정</div>
        </div>
        {% endfor %}
    </div>

    <div class="edit-delete-box">
        <div class="edit-delete-box-style"></div>

        <div id="folder_delete" class="edit-delete-button-box">
            <div class="divider"></div>
            {% for folder in folders %}
            <div class="folder_delete_button">
                <button class="delete-button-box" data-list-number="{{ folder.list_number }}">
                    <img class="delete-img" src="/static/img/delete-img.svg">
                    <div class="delete-text">삭제</div>
                </button>
            </div>
            <div class="folder_edit_button">
                <button class="edit-button-box" data-list-number="{{ folder.list_number }}" data-list-name="{{ folder.list_name }}">
                    <img class="edit-img" src="/static/img/edit-img.svg">
                    <div class="edit-text">폴더명 변경</div>
                </button>
            </div>
            
            {% endfor %}
        </div>
    </div>

    <div class="mylist-title">
        <div class="arrows" style="width: 7px; height: 14px;">
            <img class="arrwos-style" src="/static/img/vector2.svg">
        </div>
        <div class="mylist-title-text">달송 폴더</div>
        <div class="more"></div>
    </div>

    <div class="mylist-flex-group">
        <div class="song-delete-box">
            <button class="song-delete-text" id="delete-button">선택 곡 삭제</button>
        </div>

        <div class="song-box">
            <div class="song-list-text">
                <div class="checkbox-off">
                    <div style="width: 20px; height: 20px;"></div>
                </div>
                <div class="song-list-title">곡명</div>
                <div class="song-list-artist">가수</div>
                <div class="song-list-tj">TJ곡번호</div>
                <div class="song-list-ky">KY곡번호</div>
            </div>
            {% for song in lists %}
            <div class="song-list-text">
                <div class="checkbox">
                    <button id="choice-button-{{ song.id }}" class="checkbox-style" data-song-id="{{ song.id }}"></button>
                </div>
                <div class="song-list-title">{{song.title}}</div>
                <div class="song-list-artist">{{song.artist}}</div>
                <div class="song-list-tj">{{song.tj_number_id}}</div>
                <div class="song-list-ky">{{song.ky_number_id}}</div>
            </div>
            {% endfor %}
        </div>

        <div class="recommend-text-box">
            {% for folder in folders %}
            <div class="recommend-text">
                {{folder.list_name}}에<br> 
                이런 곡을 불러보는건 어떨까요?
            </div>
            {% endfor %}
            <div class="vector">
                <img src="/static/img/vector.svg">
            </div>
        </div>
        <div class="recommend-song-box">
            <div class="recommend-song">
                <div class="avatar-05">
                    <img class="ellipse-144" src="/static/img/music.svg">
                </div>
                <div class="recommend-title-artist">
                    <div class="recommend-title-text">곡 제목</div>
                    <div class="recommend-artist-text">가수</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- folder 삭제 모달 -->
<div id="confirmation-modal" class="delete-modal">
    <div class="delete-modal-content">
        <p class="delete-modal-text">정말로 폴더를 삭제하시겠습니까?</p>
        <div class="delete-modal-button-box">
            <button class="delete-modal-buttons" id="confirm-yes">예</button>
            <button class="delete-modal-buttons" id="confirm-no">아니오</button>
        </div>
    </div>
</div>

<!-- fodler 이름 수정 모달 -->
<div id="edit-modal" class="edit-modal">
    <div class="edit-modal-content">
        <label for="new-list-name">새로운 이름</label>
        <input type="text" id="new-list-name" />
        <div class="edit-modal-buttons">
            <button class="edit-modal-button" id="confirm-edit">확인</button>
            <button class="edit-modal-button" id="close_modal">취소</button>
        </div>
    </div>
</div>

<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
</script>
{% endblock %}





{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    
    
    const choiceButtons = document.querySelectorAll('.checkbox-style');
    const deleteButton = document.getElementById('delete-button');

    
    // 선택된 버튼들의 ID를 저장할 배열
    const selectedIds = [];

    choiceButtons.forEach(function(button) {
        button.addEventListener('click', function() {
            const buttonId = button.id;
            const songId = button.getAttribute('data-song-id'); // 선택된 버튼의 song.id 값을 가져옵니다.
            const index = selectedIds.indexOf(songId);

            if (index > -1) {
                // 이미 선택된 버튼인 경우 선택 해제
                selectedIds.splice(index, 1);
                button.classList.remove('selected');
            } else {
                // 선택되지 않은 버튼인 경우 선택 추가
                selectedIds.push(songId);
                button.classList.add('selected');
            }
        });
    });

    

    $(deleteButton).click(function() {
        $.ajax({
            url: '/mylist/delete/',
            type: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            data: JSON.stringify({ ids: selectedIds }), // 선택된 song.id 값을 JSON 형식으로 변환하여 전송합니다.
            success: function() {
                // 삭제가 성공적으로 이루어진 후, 현재 페이지를 새로 고칩니다.
                location.reload();
            },
            error: function() {
                // 삭제가 실패한 경우에 대한 처리를 추가할 수 있습니다.
                console.error('Failed to delete selected values.');
            }
        });
    });

    $(document).ready(function() {
        const deletefolderButton = document.querySelector('#folder_delete button');
        const confirmationModal = document.getElementById('confirmation-modal');
        const confirmYesButton = document.getElementById('confirm-yes');
        const confirmNoButton = document.getElementById('confirm-no');
        const folderEditButton = document.querySelector('.folder_edit_button button');
        const editModal = document.getElementById('edit-modal');
        const newListNameInput = document.getElementById('new-list-name');
        const confirmEditButton = document.getElementById('confirm-edit');

        deletefolderButton.addEventListener('click', function() {
            confirmationModal.style.visibility = 'visible';
            confirmationModal.style.opacity = '1';
        });

        confirmYesButton.addEventListener('click', function() {
            const listNumber = deletefolderButton.getAttribute('data-list-number');
            console.log(listNumber);

            $.ajax({
                url: '/mylist/deletefolder/',
                type: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                data: JSON.stringify({ list_number: listNumber }),
                dataType: 'json',
                success: function() {
                    // 삭제 성공
                    location.href = '/';
                },
                error: function() {
                    // 삭제 중 에러 발생
                    console.error('폴더 삭제에 실패했습니다.');
                }
            });
        });

        confirmNoButton.addEventListener('click', function() {
            confirmationModal.style.visibility = 'hidden';
            confirmationModal.style.opacity = '0';
        });

        folderEditButton.addEventListener('click', function() {
            // 폴더 수정 모달 표시
            editModal.style.visibility = 'visible';
            editModal.style.opacity = '1';
        });

        confirmEditButton.addEventListener('click', function() {
            const listNumber = folderEditButton.getAttribute('data-list-number');
            const listName = folderEditButton.getAttribute('data-list-name');
            const newFolderName = newListNameInput.value; // 사용자가 입력한 새로운 이름

            console.log(listNumber);
            console.log(newFolderName);

            // 해당 폴더의 이름을 변경하는 Ajax 요청을 보내는 코드 추가
            $.ajax({
                url: '/mylist/editfolder/',
                type: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                data: JSON.stringify({ newFolderName: newFolderName, listNumber: listNumber, listName:listName }),
                dataType: 'json',
                success: function() {
                    // 수정 성공
                    location.href = '/';
                },
                error: function() {
                    // 수정 중 에러 발생
                    console.error('폴더 수정에 실패했습니다.');
                }
            });

            // 모달 닫기
            editModal.style.visibility = 'hidden';
            editModal.style.opacity = '0';
        });

        confirmEditButton.addEventListener('click', function() {
            const listNumber = folderEditButton.getAttribute('data-list-number');
            const listName = folderEditButton.getAttribute('data-list-name');
            const newFolderName = newListNameInput.value; // 사용자가 입력한 새로운 이름

            console.log(listNumber);
            console.log(newFolderName);

            // 해당 폴더의 이름을 변경하는 Ajax 요청을 보내는 코드 추가
            $.ajax({
                url: '/mylist/editlist/',
                type: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                data: JSON.stringify({ newFolderName: newFolderName, listNumber: listNumber, listName:listName }),
                dataType: 'json',
                success: function() {
                    // 수정 성공
                    location.href = '/';
                },
                error: function() {
                    // 수정 중 에러 발생
                    console.error('폴더 수정에 실패했습니다.');
                }
            });

            // 모달 닫기
            editModal.style.visibility = 'hidden';
            editModal.style.opacity = '0';
        });
    });

    //모달 닫기 코드
    const modal = document.getElementById('edit-modal');
    const buttonCloseModal = 
    document.getElementById("close_modal");
    buttonCloseModal.addEventListener("click", e => {
        modal.style.visibility = 'hidden';
        document.body.style.overflowY = "visible";
    });





    $.ajaxSetup({
        headers: { "X-CSRFToken": csrftoken }
    });
</script>
{% endblock %}
