{% extends 'navbar.html' %}
{% block style %}
<link rel="stylesheet" href="/static/css/search-html-2.css">
<style>
</style>
{% endblock %}



{% block content %}

<div class="search-html">
    <div class="search-html-top"></div>

    <div class="main-frame">
        <div class="frame-2006">
            <div class="main-frame-search-text">
                <a href="/">
                    <div class="arrwos-box">
                        <img class="arrwos-box-style" src="/static/img/vector2.svg">
                    </div>
                </a>

                <div class="main-frame-search-text-style"> 부를 곡 검색</div>

                <div class="arrwos-box">
                    <img class="arrwos-box-style" src="/static/img/interface-essential-dots.svg">
                </div>          
            </div>

            <div class="frame-985">
                <div class="searchbar-2">
                    <img src="/static/img/select.svg">
                    <select name="search_option">
                        <option value="title">제목</option>
                        <option value="artist">가수</option>
                    </select>
                </div>
                <div class="searchbar-1">
                    <!-- <div class="searchbar-style"></div> -->
                    <div class="icon-search-normal-1" id="search-button">
                        <img src="/static/img/search.svg">
                    </div>
                    <input class="searchbar-text" type="text" name="query" id="search-query" placeholder="부르고 싶은 곡을 입력하세요!🎤">
                    <div class="searchbar-button">
                        <button class="searchbar-button" id="search-button"></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="song-box">
            <div class="song-box-head">
                <div style="width: 80px;">곡명/아티스트</div>
                <div style="width: 53px">TJ곡번호</div>
                <div style="width: 53px;">KY곡번호</div>
                <div style="width: 24px;">담기</div>
            </div>
            <div class="song-box-body">
                {% for result in results %}
                <div class="song-list">
                    <div class="title-artist-box">
                        <div class="title-text">{{result.title}}</div>
                        <div class="artist-text">{{result.artist}}</div>
                    </div>
                    <div class="tj">{{result.tj}}</div>
                    <div class="ky">{{result.ky}}</div>
                    <div class="ellipse-12">
                        <button class="ellipse-12 button-add-list" id="button_add_list"
                                data-ky="{{ result.ky }}"
                                data-tj="{{ result.tj }}"
                                data-title="{{ result.title }}"
                                data-artist="{{ result.artist }}"
                                data-cmp="{{ result.cmp }}"
                                data-writer="{{ result.writer }}"
                                data-master="{{ result.master_number }}">
                            <img style="width: 18px; height: 18px;" src="/static/img/icon-add.svg">
                        </button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


<!-- 리스트에 노래 추가하는 모달 -->
<div id="modal-add-song" class="modal modal-overlay-song">
    <div class="modal_window">
        <div class="modal_title">내 리스트에 담기
            <div class="modal-title-side"></div>
            <div class="modal-title-side">
                <span id="close_modal" class="close_modal material-icons-outlined" style="font-size: large;">
                    X
                </span>
            </div>
        </div>
        <div class="modal-mylist">
            {% for folder in folders %}
            <li>
                <div class="popup_list" id="folderSelect" data-list-number="{{folder.list_number}}">
                    <div class="popup_list-thumbnail">
                        <img src="/static/img/music.svg">
                    </div>
                    <div class="popup_list-text">
                        <p class="popup_list-title list-name"> {{folder.list_name}} </p>
                        <p class="popup_list-count"> {{folder.song_count}} </p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $.ajaxSetup({
        headers: { "X-CSRFToken": '{{csrf_token}}' }
    });
</script>

<script>
    function selectOption() {
        const selectElement = document.querySelector('.searchbar-2 select');
        selectElement.focus(); // 이 부분은 선택 상태를 시각적으로 표시하기 위해 포커스를 줍니다.
        selectElement.click(); // select 요소를 클릭하여 드롭다운 목록을 엽니다.
    }

    
    var selectedSongData = {};

    document.querySelector('body').addEventListener('click', (e) => {
        // Check if the clicked element has the 'button-add-list' class
        if (e.target.closest('.button-add-list')) {
            var button = e.target.closest('.button-add-list');
            // Assign song data on selectedSongData
            selectedSongData = {
                master: button.getAttribute('data-master'),
                kySongNum: button.getAttribute('data-ky'),
                tjSongNum: button.getAttribute('data-tj'),
                title: button.getAttribute('data-title'),
                artist: button.getAttribute('data-artist'),
                cmp: button.getAttribute('data-cmp'),
                writer: button.getAttribute('data-writer')
            };
        }
    });

    document.querySelector('body').addEventListener('click', (e) => {
        // Check if the clicked element has the 'popup_list' class
        if (e.target.closest('.popup_list')) {
            var folderElement = e.target.closest('.popup_list');
            var listNumber = folderElement.getAttribute('data-list-number');
            var listName = folderElement.querySelector('.list-name').textContent.trim();

            console.log(selectedSongData)

            // Merge the song and folder data into one object
            var sendData = Object.assign({}, selectedSongData, { listNumber, listName });

            $.ajax({
                type: 'POST',
                url: '/song-list/add-to-database/',
                dataType: 'text',
                headers: {
                    "X-CSRFToken": csrftoken
                },
                contentType: 'application/json',
                data: JSON.stringify(sendData),
                success: function(response) {
                    var parsedResponse = JSON.parse(response);
                    if (parsedResponse.status === 'success') {
                        console.log('데이터 추가 성공');
                        location.reload();
                        var successMessage = '추가되었습니다.';
                        alert(successMessage)
                    } else if (parsedResponse.status === 'error') {
                        console.log('데이터 추가 실패: ' + parsedResponse.message);
                        var errorMessage = '이미 추가된 노래입니다.';
                        alert(errorMessage);
                    }
                },
                error: function(xhr, textStatus, errorThrown) {
                    console.log('AJAX 요청 실패');
                    var errorMessage = 'error';
                    alert(errorMessage);
                }
            });

            console.log(sendData);
        }
    });


    function handleEnterKeyPress(event) {
        if (event.key === "Enter") {
            event.preventDefault();
            $('#search-button').click();
        }
    }

    $(document).ready(function () {
        $('#search-query').keypress(handleEnterKeyPress);
        
        $("#search-button").click(function (event) {
            event.preventDefault();

            var query = $("input[name='query']").val();
            var category = $('select[name=search_option]').val();
            var url = '/song-list/search/?category=' + encodeURIComponent(category) + '&query=' + encodeURIComponent(query); // 쿼리 파라미터를 포함한 URL 생성

            console.log(url);

            $.ajax({
                type: 'GET',
                url: url,  // 생성한 URL 사용
                success: function (response) {
                    // 필터링된 노래 리스트를 받아와서 화면에 표시하는 로직 작성
                    window.location.href = url;
                    console.log(response);
                },
            });
        });
    });

    


    document.addEventListener("DOMContentLoaded", function() {
        var urlParams = new URLSearchParams(window.location.search);
        var category = urlParams.get('category');
        var query = urlParams.get('query');
        
        if (category) {
            $('select[name=search_option]').val(category);
        }

        if (query) {
            $("input[name='query']").val(decodeURIComponent(query));
        }
    });

    //모달 띄우기 코드
    const modal = document.getElementById("modal-add-song");
    const buttonsAddList = document.querySelectorAll(".ellipse-12");

    buttonsAddList.forEach(button => {
        button.addEventListener("click", e => {
            modal.style.top = window.pageYOffset + 'px'; // 모달 창이 스크롤에 따라 움직이도록 위치 설정
            modal.style.display = "flex";
            document.body.style.overflowY = "hidden"; // 스크롤 없애기

            console.log(window.pageYOffset + " 위치"); // 위치 로그 찍기
        });
    });


    //모달 닫기 코드
    const buttonCloseModal = 
    document.getElementById("close_modal");
    buttonCloseModal.addEventListener("click", e => {
        modal.style.display = "none";
        document.body.style.overflowY = "visible";
    });


</script>
{% endblock %}

