{% extends 'navbar.html' %}
{% block style %}

<link rel="stylesheet" href="/static/css/song-list-html2.css">

{% endblock %}
{% block content %}

<div class="song-list-html">
    <div class="rectangle-6"></div>

    <div class="main-frame">
        <div class="top-frame">
            <div class="arrwos-box">
                <img class="arrwos-box-style" src="/static/img/vector2.svg">
            </div>

            <div class="main-frame-text-style">인기차트</div>
            
            <div class="arrwos-box">
                <img class="arrwos-box-style" src="/static/img/interface-essential-dots.svg">
            </div>
        </div>

        <div class="pop-text-box">
            <div class="pop-text-1">현재 노래방의<br> 인기차트🏅를 확인하세요!</div>
            <div class="pop-text-2">노래방 기계의 인기차트를<br> 알송달송에서 바로 확인하고 내 리스트에 담아 보세요</div>
        </div>

        <div class="logo-box">
            <div class="logo-box-style"></div>
            <button class="tj-box-style">
                <a href="/song-list/">
                    <img src="/static/img/tj-removebg-preview-2.png">
                </a>
            </button>
            <button class="ky-box-style">
                <a href="/song-list/ky/">
                    <img src="/static/img/ky-1.png">
                </a>
            </button>
        </div>
    </div>

    <div class="song-box">
        <div class="song-box-head">
            <div class="song-box-head-text">
                <div style="width: 24px;">순위</div>
                <div style="width: 80px;">곡명</div>
                <div style="width: 80px;">아티스트</div>
                <div style="width: 53px;">TJ곡번호</div>
                <div style="width: 24px;">담기</div>
            </div>
        </div>

        <div class="song-box-body">
            {% for song in songs %}
            <div class="song-list">
                <div class="rank">{{song.rank}}</div>
                <div class="title-text">{{song.title}}</div>
                <div class="artist-text">{{song.artist}}</div>
                <div class="tj">{{song.song_num_id}}</div>
                <div class="ellipse-12">
                    <button class="ellipse-12 button-add-list" id="button_add_list"
                            song_num_id="{{song.song_num_id}}">
                        <img style="width: 18px; height: 18px;" src="/static/img/icon-add.svg">
                    </button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>



</div>

<!-- 리스트에 노래 추가하는 모달 -->
<div id="modal-add-song" class="modal modal-overlay-song">
    <div class="modal_window">
        <div class="modal_title">내 리스트에 담기
            <div class="modal-title-side"></div>
            <div class="modal-title-side">
                <span id="close_modal" class="close_modal material-icons-outlined" style="font-size: large;">
                    X
                </span>
            </div>
        </div>
        <div class="modal-mylist">
            {% for folder in folders %}
            <li>
                <div class="popup_list" id="folderSelect" data-list-number="{{folder.list_number}}">
                    <div class="popup_list-thumbnail">
                        <img src="/static/img/music.svg">
                    </div>
                    <div class="popup_list-text">
                        <p class="popup_list-title list-name"> {{folder.list_name}} </p>
                        <p class="popup_list-count"> {{folder.song_count}} </p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}


{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>    

    document.querySelector('body').addEventListener('click', (e) => {
        // Check if the clicked element has the 'button-add-list' class
        if (e.target.closest('.button-add-list')) {
            var button = e.target.closest('.button-add-list');
            // Assign song data on selectedSongData
            selectedSongData = {
                song_num_id: button.getAttribute('song_num_id')
            };
        }
    });

    document.querySelector('body').addEventListener('click', (e) => {
        // Check if the clicked element has the 'popup_list' class
        if (e.target.closest('.popup_list')) {
            var folderElement = e.target.closest('.popup_list');
            var listNumber = folderElement.getAttribute('data-list-number');
            var listName = folderElement.querySelector('.list-name').textContent.trim();

            // Merge the song and folder data into one object
            var sendData = Object.assign({}, selectedSongData, { listNumber, listName });

            $.ajax({
            type: 'POST',
            url: '/song-list/add-to-tjlist/',
            dataType: 'text',
            headers: {
                "X-CSRFToken": csrftoken
            },
            contentType: 'application/json',
            data: JSON.stringify(sendData),
            success: function(response) {
                var parsedResponse = JSON.parse(response);
                if (parsedResponse.status === 'success') {
                    console.log('데이터 추가 성공');
                    location.reload();
                    var successMessage = '추가되었습니다.';
                    alert(successMessage)
                } else if (parsedResponse.status === 'error') {
                    console.log('데이터 추가 실패: ' + parsedResponse.message);
                    var errorMessage = '이미 추가된 노래입니다.';
                    alert(errorMessage);
                }
            },
            error: function(xhr, textStatus, errorThrown) {
                console.log('AJAX 요청 실패');
                var errorMessage = 'error';
                alert(errorMessage);
            }
        });

            console.log(data);
        }
    });


    $(document).ready(function() {
        $("button").click(function() {
            var category = $(this).val();  // 버튼의 값(category)을 가져옴
            var query = $("input[name='query']").val();  // 검색어를 가져옴
            var folderSelect = $("#folderSelect");


            $.ajax({
                type: 'POST',
                url: '/song-list/',
                data: {
                    'category': category,
                    'query': query,  // 검색어(query)를 데이터에 포함시킴
                },
                success: function(response) {
                    // 필터링된 노래 리스트를 받아와서 화면에 표시하는 로직 작성
                    console.log(response);
                }
            });
        });
    });

    $.ajaxSetup({
        headers: { "X-CSRFToken": csrftoken }
    });

    //모달 띄우기 코드
    const modal = document.getElementById("modal-add-song");
    const buttonsAddList = document.querySelectorAll(".ellipse-12");

    buttonsAddList.forEach(button => {
        button.addEventListener("click", e => {
            modal.style.top = window.pageYOffset + 'px'; // 모달 창이 스크롤에 따라 움직이도록 위치 설정
            modal.style.display = "flex";
            document.body.style.overflowY = "hidden"; // 스크롤 없애기

            console.log(window.pageYOffset + " 위치"); // 위치 로그 찍기
        });
    });


    //모달 닫기 코드
    const buttonCloseModal = 
    document.getElementById("close_modal");
    buttonCloseModal.addEventListener("click", e => {
        modal.style.display = "none";
        document.body.style.overflowY = "visible";
    });

    

</script>

{% endblock %}
