.css-1kzjrdf {
    position: fixed;
    bottom: 0px;
    z-index: 150;
    width: 100%;
    height: 56px;
    flex-shrink: 0;
    border-top: 1px solid rgb(228, 230, 231);
    border-radius: 25px 25px 0px 0px;
    background-color: rgb(255, 255, 255);
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

