.mypage-html,
.mypage-html * {
  box-sizing: border-box;
}
.mypage-html {
  background: var(--white, #ffffff);
  border-radius: 32px;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 350px;
}

.bg-gradation {
    position: absolute;
    overflow: visible;
    width: 100%;
  }

  .main-frame {
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding-top: 56px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 75px;
  }
  
  .top-frame {
    display: flex;
    flex-direction: row;
    gap: 87px;
    align-items: center;
    justify-content: space-around;
    flex-shrink: 0;
    position: relative;
    width: 100%;
}

.main-frame-text-style {
    color: var(--main, #1e1f4b);
    text-align: center;
    font: 500 20px/25px "Noto Sans KR", sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrows-box {
    border-radius: 48px;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.arrows-box-style {
    flex-shrink: 0;
    position: absolute;
    overflow: visible;
}

.profile-img {
    border-radius: 50px;
    flex-shrink: 0;
    width: 120px;
    height: 120px;
    position: relative;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.1);
  }

  .profile-box {
    flex-shrink: 0;
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
  }

  .edit-profile {
    background: var(--white, #ffffff);
    border-radius: 12px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 180px;
    position: relative;
    box-shadow: 0px 16px 32px 0px rgba(33, 34, 38, 0.05);
  }

  .edit-profile2 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }

  .edit-img {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
  }

  .edit-share-text {
    color: #45d3b1;
    text-align: left;
    font: 500 16px/22px "Noto Sans KR", sans-serif;
    position: relative;
  }

  .share {
    background: var(--white, #ffffff);
    border-radius: 12px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 180px;
    position: relative;
    box-shadow: 0px 16px 32px 0px rgba(33, 34, 38, 0.05);
  }

  .share-img {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
  }

  .basic-settings {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 100%;
  }

  .basic-settings-text {
    color: var(--main, #1e1f4b);
    text-align: left;
    font: 500 17px/24px "Noto Sans KR", sans-serif;
    position: relative;
    width: 150px;
  }

  .settings-box {
    background: var(--white, #ffffff);
    border-radius: 14px;
    padding: 16px 10px 16px 10px;
    display: flex;
    flex-direction: row;
    gap: 146px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 100%;
    position: relative;
    box-shadow: 0px 16px 32px 0px rgba(245, 248, 252, 0.6);
  }

  .settings-box-frame {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }

  .settings-box-img {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
  }

  .settings-box-text {
    color: var(--main, #1e1f4b);
    text-align: left;
    font: 500 15px/20px "Noto Sans KR", sans-serif;
    position: relative;
  }

  .banner-box {
    flex-shrink: 0;
    width: 100%;
    height: 147px;
    position: relative;
    display: flex;
    align-items: center;
  }

  .banner-box-style {
    background: #f5f5f5;
    border-radius: 16px;
    width: 100%;
    height: 147px;
    position: absolute;
  }

  .banner-text-box {
    width: 100%;
    height: 116px;
    position: relative;
    padding-left: 25px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .body-subtext {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
  }

  .subtext-1 {
    color: #2f3034;
    text-align: left;
    font: 900 17px/24px "Noto Sans KR", sans-serif;
    position: relative;
  }

  .subtext-2 {
    color: var(--gray-text, #949ba5);
    text-align: left;
    font: 400 14px/20px "Noto Sans KR", sans-serif;
    position: relative;
    width: 100%;
  }

  .banner-box-frame {
    background: #45d3b1;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 110px;
    position: relative;
  }

  .banner-box-frame-text {
    color: var(--white, #ffffff);
    text-align: left;
    font: 500 14px/20px "Noto Sans KR", sans-serif;
    position: relative;
  }
