* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  font-family: 'Noto Sans KR', sans-serif;
}

nav {
  display: block;
  font-family: 'Noto Sans KR', sans-serif;
}

.bottom-nav {
  position: fixed;
  bottom: 28px;
  z-index: 150;
  width: 100%;
  height: 47px;
  flex-shrink: 0;
  border-top: 1px solid rgb(228, 230, 231);
  border-radius: 25px 25px 0px 0px;
  background-color: rgb(255, 255, 255);
}

.bottom-btn-list {
  height: 100%;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: flex-start;
  list-style: none;
  padding: 0;
  border: 0 none;
}

span {
  font-size: 10px;
  font-weight: 500;
}


ul {
  /* display: block;
  list-style-type: disc; */
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 25px;
  margin-inline-end: 25px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

a {
  color: #191E23;
  -webkit-text-decoration: none;
  text-decoration: none;
  cursor: pointer;
}


.nav-btn-a {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  flex: 1 1 0%;
  width: 100%;
  height: 100%;
  outline: none;
  gap: 2px;
}

.nav-btn-a:hover {
  box-shadow:200px 0 0 0 rgba(0,0,0,0.5) inset;
}

.nav-btn-li {
  position: relative;
  flex: 1 1 0%;
  width: 100%;
  height: 100%;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

