.showcase {
    z-index: 0;
}

.container {
    max-width: 500px;
    position: relative;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 40%;
}



#social-login {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#social-login #github-btn {
    width: 220px;
    background-color: transparent;
    border-radius: 2px;
    border: 0.5px solid black;
    padding: 10px;
    color: white;
    border-radius: 5px;
    background: black;
}

#social-login #kakao-btn {
    margin-top: 5px;
    background-color: #fae100;
    border-radius: 2px;
    border: 0.5px solid #fae100;
    padding: 15px;
    border-radius: 10px;
}

.main-html,
.main-html * {
  box-sizing: border-box;
}

.main-html {
  background: #f5f8ff;
  padding: 10px;
  width: 100%;
  height: 700px;
  position: relative;
  display: flex;
  justify-content: center;
  min-width: 350px;
}

.login-box {
    flex-shrink: 0;
    width: 390px;
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 70px;
  }
  .login-box-style {
    background: var(--ui-white, #45d3b1);
    border-radius: 20px;
    width: 100%;
    height: 500px;
    position: absolute;
  }

  .login-box-text-1 {
    color: #000000;
    text-align: left;
    font: var(--bold-15-pt, 400 15px "Noto Sans", sans-serif);
    position: relative;
    width: 30%;
    height: 80px;
    padding-top: 30px;
  }

  .login-box img {
    position: absolute;
    top: 0;
    left: 145px;
    width: 25%;
  }

  .basic-input {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
    width: 100%;
    padding-top: 20px;
  }

  .input-box {
    background: var(--white, #ffffff);
    border-radius: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 100%;
    position: relative;
    padding-left: 20px;
  }

  .input-box-text {
    color: var(--main, #1e1f4b);
    text-align: left;
    font: 500 15px/20px "Noto Sans KR", sans-serif;
    position: relative;
    border: none;
    height: 54px;
    width: 90%;
  }

  .login-button {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .login-button-style {
    background: var(--white, #ffffff);
    border: none;
    border-radius: 10px;
    position: relative;
    padding: 15px;
    margin-top: 5px;
    width: 72%;
  }

  .id-password-box {
    position: relative;
    display: flex;
    background: var(--ui-white, #45d3b1);
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
  }

  .id-text {
    position: relative;
    color: #ffffff;
    font: 500 15px/20px "Noto Sans KR", sans-serif;
  }

  .password-text {
    position: relative;
    color: #ffffff;
    font: 500 15px/20px "Noto Sans KR", sans-serif;
  }

  .sign-up-box {
    position: relative;
    background: var(--ui-white, #45d3b1);
    width: 100%;
  }

  .sign-up-box-text-1 {
    color: #2c846f;
    font: 500 15px/20px "Noto Sans KR", sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .sign-up-box-text-2 {
    position: relative;
    color: #1f5d4e;
    font: 800 15px/20px "Noto Sans KR", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

