{% extends 'navbar.html' %}
{% block style %}


<!-- jquery 사용하기 위해 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/95c5c08857.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/main-html.css">

<style></style>
{% endblock %}


{% block content %}
<div class="home">
    <div class="main">
        <div class="logo-box">
            <div class="logo-text">
                <img style="width: 160%; height: 150%" src="/static/img/알송달송-로고-final_여백제거.png" />
            </div>
        </div>

        <div class="main-box">
            <a href="/song-list/search/" style="width: 80%;">
                <div class="searchbar">
                    <div class="search-img">
                        <img src="/static/img/icon-search-normal-1.svg">
                    </div>
                    <div class="search-text">
                        부르고 싶은 곡을 검색하세요!
                    </div>
                </div>
            </a>
            
            {% if request.user.is_authenticated %}
            <div class="main-banner">
                <div class="dashboard"></div>
                <div class="banner-profile">

                    <div class="profile-img-box">
                        <div class="profile-img">
                            <div class="Dicons">
                                <img style="width: 56px; height: 72px" src="/static/img/music.svg" />
                            </div>
                        </div>
                    </div>
                    {% for users in user %}
                    <div class="frame-25">
                        <div class="frame-25-text-1">{{users.nickname}}</div>
                        <div class="frame-25-text-2">님 안녕하세요 🎶</div>
                    </div>
                    {% endfor %}
                    <div class="frame-1992">
                        <div class="group-25">
                            <div class="frame-1992-text-1">총 달린 곡</div>
                            {% with total_song_count=0 %}
                                {% for list in folder_list %}
                                    {% with new_total_song_count=total_song_count|add:list.song_count %}
                                        {% with total_song_count=new_total_song_count %}
                                        {% endwith %}
                                    {% endwith %}
                                {% endfor %}
                                <div class="frame-1992-text-2">{{ total_song_count }}</div>
                            {% endwith %}
                            <div class="frame-1992-text-3">곡</div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="main-banner">
                <div class="dashboard"></div>
                <div class="banner-profile">

                    <div class="profile-img-box">
                        <div class="profile-img">
                            <div class="Dicons">
                                <img style="width: 56px; height: 72px" src="/static/img/music.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="frame-25">
                        <div class="frame-25-text-1">아직 로그인을 안하셨나요??</div>
                    </div>
                    <div class="frame-1992">
                        <div class="group-25">
                            <div class="frame-1992-text-1" style="width: 180px;">
                                <a href="/user/sign-in/">로그인 하러 가기 >>></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endif %}

            
            <div class="recommend-banner">
                <a href="/recommend/">
                    <div class="recommend-title">
                        <div class="ai">Ai 부를곡 추천 받기!</div>
                        <img class="frame-4" src="/static/img/vector.svg">
                    </div>
                </a>
            </div>

            <div class="folder-box">
                <div class="folder-box-design"></div>
                <div class="folder-box-title">
                    <div class="folder-box-title-text">달송 폴더</div>
                </div>

                <div class="folder-box" style="margin-top: 50px; margin-bottom: 20px; justify-content: space-around; flex-direction: row; flex-wrap: wrap; width: calc(2*168px + 2*1vw);">
                    {% for list in folder_list %}
                    <div class="folder list_button" data-list-number="{{ list.list_number }}">
                        <div style="height: 80px;">
                            <div class="folder-name-1">{{list.list_name}}</div>
                            <div class="folder-in-song">{{list.song_count}} 곡</div>
                        </div>
                        <div class="img-box">
                            <div class="ellipse-11">
                                <div class="_3-dicons">
                                    <img class="_3-dicons2" src="/static/img/mic-dicons.svg" />
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="folder" id="button_add_list">
                        <div style="height: 80px;">
                            <div class="folder-name-2">새 폴더 추가</div>
                            <div class="folder-in-song"></div>
                        </div>
                        <div class="img-box">
                            <div class="ellipse-11">
                                <div class="_3-dicons">
                                    <img class="_3-dicons2" src="/static/img/add-dicons.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- 모달 content 부분-->
<div id="modal_add_feed_content" class="modal modal_overlay_content">
    <div class="modal_window">
        <div class="modal_title">
            <div class="modal_title_side"></div>
            <div class="modal-title-center">폴더 생성</div>
            <div class="modal_title_side">
                <span id="close_modal" class="close_modal material-icons-outlined" style="font-size: 15px">
                    X
                </span>
            </div>
        </div>
        <div class="modal_content_write">
            <div class="feed_content_textarea">
                <input id="input_list_name" class="feed_content_textarea-box col-sm-5" rows="10" placeholder="7글자 이하 폴더 이름을 입력하세요"></input>
            </div>
        </div>
        <div class="modal-add-button-box">
            <button id="button_write_feed" type="button" class="modal-add-button btn btn-primary"> 추가하기</button>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
<script>    
    $.ajaxSetup({
        headers: { "X-CSRFToken": '{{csrf_token}}' }
    });
</script>

<script>
    //모달 띄우기 코드
    const modal = document.getElementById("modal_add_feed_content");
    const buttonAddFeed = document.getElementById("button_add_list");
    buttonAddFeed.addEventListener("click", e=> {
        modal.style.top = window.pageYOffset + 'px'; // top을 이용해 시작 y 위치를 바꿔줌
        modal.style.display = "flex";
        document.body.style.overflowY = "hidden"; //스크롤 없애기

        console.log(window.pageYOffset + " 위치"); //로그 찍기
    });

    //모달 닫기 코드
    const buttonCloseModal = 
    document.getElementById("close_modal");
    buttonCloseModal.addEventListener("click", e => {
        modal.style.display = "none";
        document.body.style.overflowY = "visible";
    });

    let listCount = 0; // 추가된 리스트 개수를 추적하기 위한 변수

    

    function addList(fd) {
        $.ajax({
            url: 'add_list/', // 데이터를 전송할 URL
            type: 'POST', // POST 메서드 사용
            data: fd, // FormData를 전송 데이터로 사용
            processData: false, // FormData를 문자열로 변환하지 않음
            contentType: false, // 컨텐츠 유형을 설정하지 않음
            headers:{
                'X-CSRFToken':csrftoken
            },
            success: function(response) {
                // 성공적으로 응답을 받았을 때 실행할 코드
                console.log(response);

                // 새로운 리스트를 추가하는 코드
                const newList = `
                    <div style="background-color: aliceblue; width: 150px; margin: 10px; height: 150px; display: flex; justify-content: center; align-items: center;">
                        <span>${list_name}</span>
                    </div>
                `;

                $('#list_container').append(newList);
                listCount++;

                // 추가 버튼을 오른쪽으로 이동하는 코드
                const buttonWidth = 170; // 추가 버튼을 감싸는 <div> 요소의 너비 + 마진값
                const containerWidth = 700; // 리스트 컨테이너의 너비
                const maxButtonsPerRow = Math.floor(containerWidth / buttonWidth);

                if (listCount % maxButtonsPerRow === 0) {
                    $('#button_add_list').css('float', 'left');
                }

                //location.reload(); // 페이지 새로고침 추가
            },
            error: function(xhr, errmsg, err) {
                // 요청이 실패했을 때 실행할 코드
                console.log(xhr.status + ": " + xhr.responseText);
                var errorMessage = "로그인이 필요합니다.";
                alert(errorMessage);
            }
        });
    }

    $('#button_write_feed').on('click', () => {
        const list_name = $('#input_list_name').val();

        if (list_name.length >= 7) {
                alert('폴더 이름이 너무 깁니다. 7글자 이하로 입력해 주세요.');
                return error;
            }

        let fd = new FormData();

        fd.append('list_name', list_name); 

        addList(fd); // 리스트 추가 함수 호출

        // 추가 버튼 클릭 후 모달 닫기
        modal.style.display = "none";
        document.body.style.overflowY = "visible";

        setTimeout(() => {
            location.reload();
        }, 100);
    });

    // 모든 리스트 버튼에 대해 클릭 이벤트 리스너를 등록
    const listButtons = document.querySelectorAll(".list_button");
    listButtons.forEach((listButton) => {
        listButton.addEventListener('click', () => {
            const listNumber = listButton.dataset.listNumber;
            const url = `/mylist/${listNumber}/`; // 이동할 URL 설정
            window.location.href = url; // URL로 이동
        });
    });

    
</script>
{% endblock %}