:root {
    --text-color: rgb(52, 48, 52);
    --background-color: white;
    --accent-color: rgb(182, 0, 206);
    --icons-color: rgb(152, 187, 201);
    --bodybackground-color: white;
  }

*::before,
*::after {
  box-sizing: border-box;
}

  @font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }
  
  body { 
    margin: 0;
    background-color: var(--bodybackground-color);
    /* font-family: 'STIX Two Math'; */
    font-family: 'SUITE-Regular';
    font-size:12px;
  }
  
  a {
    text-decoration: none;
    color: var(--text-color);
    font-family: 'SUITE-Regular';
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 10px 25px;
    font-family: 'SUITE-Regular';
  }
  
  .navbar__logo {
    display: flex;
    margin-top: 15px;
    padding-left: 0;
  }

  .navbar__logo a {
    margin-right: 10px; /* 로고와 검색창 사이의 간격 */
  }
  
  /* 검색창 */
  /* 반응형으로 변경 필요함 */
  .search-form {
    position: absolute;
    top: 6.5%;
    left: 70px;
    width: 100px;
    height: 28px;
    border-radius: 40px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translate(-50%, -50%);
    background: #fff;
    transition: all 0.3s ease;

    &.focus {
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    }
  }

  .search-input {
    position: absolute;
    top: 5px;
    left: 38px;
    font-size: 10px;
    background: none;
    color: #5f666f;
    width: 145px;
    height: 20px;
    border: none;
    appearance: none;
    outline: none;

    &::-webkit-search-cancel-button {
      appearance: none;
    }
  }

  .search-button {
    position: absolute;
    top: 5px;
    left: 15px;
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none!important;
    cursor: pointer;
    
    & svg {
      width: 15px;
      height: 15px;
      fill: #5a6674;
    }
  }

  .navbar__menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding-left: 0;
    margin-left: auto; /* 검색창과 메뉴 사이의 간격을 채우고 화면이 작아질 때도 원하는 위치에 유지됩니다. */
  }

  .navbar__menu li {
    padding: 8px 20px;
      margin: 0 20px;
  }
  
  .navbar__menu li:hover {
    background-color: var(--accent-color);
    border-radius: 30px;
    --text-color: rgb(255, 255, 255);
  }

  .navbar__toggleBtn {
    color: var(--accent-color);
    position: absolute;
    right: 15px;
    font-size: 20px;
    display: none;
  }
  
  @media screen and (max-width: 700px) {

    .navbar {
      flex-direction: column;
      align-items: flex-start;
      margin: 0;
    }
    
    .navbar__menu {
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
      --text-color: rgb(56, 49, 49);
    }
      
    .navbar__menu li {
      width: 100%;
      text-align: center;
      --text-color: rgb(56, 49, 49);
    }

    .navbar__toggleBtn {
      display: block;
    }

    .navbar__menu.active{
      display: flex;
    }

  }


