{% load static %}
<!DOCTYPE html>
<html lang="ko">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/nav_style.css' %}">
    <script src="https://kit.fontawesome.com/95c5c08857.js" crossorigin="anonymous"></script>
    <script src="nav.js" defer></script>
    <title>네비바 test</title>
  </head>

  <body>
    <nav class="navbar">

      <div class="navbar__logo">
        <!-- <i class="fas fa-blog">여기 로고아이콘</i> -->
        <a href="http://127.0.0.1:8000/">알song달song🎤</a>
      </div>

      <ul class="navbar__menu">
        <li><a href="http://127.0.0.1:8000/song-list/">🏅인기차트</a></li>
        <li><a href="http://127.0.0.1:8000/song-list/">📁달송보관함</a></li>
        <li><a href="http://127.0.0.1:8000/">💁🏻알송Ai</a></li>
        <li><a href="http://127.0.0.1:8000/user/nav-test/">📊달송report</a></li>
        <li><a href="{% url 'user:sign-in' %}">👤My page</a></li>
      </ul>
      
      <a href="#" class="navbar__toggleBtn">
        <i class="fas fa-bars"></i>
      </a>

    </nav>
  </body>
</html>
