{% extends 'navbar.html' %}
{% block content%}
    <div>비밀번호 변경</div>
    <form action="/pwchange/" method="post">
        {% csrf_token %}
        <label for="password1">변경할 비밀번호</label>
        <input type="password" name="password1">
        <label for="password1">비밀번호 확인</label>
        <input type="password" name="password2">
        <div class="err_box">
            {%if error %}
            {{error}}
            {%endif %}
        </div>
        <button type="submit">변경😁</button>
    </form>
{% endblock %}
