{% extends 'navbar.html' %}
{% block style %}
<link rel="stylesheet" href="/static/css/signin-html.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
              integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
              crossorigin="anonymous" referrerpolicy="no-referrer"/>
        {#            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">#}
<style></style>
{% endblock %}
{% block content %}

<div class="main-html">
    <div class="login-box">
        <div class="login-box-style"></div>
        <a class="login-box-text-1" href="/">
            <img style="width: 100%; height: 100%;" src="/static/img/알송달송-로고-final_여백제거.png">
        </a>
        <!-- <h1 class="login-box-text-1">알송달송 로그인</h1> -->
        <form style="width: 70%;" method="post" action="/user/sign-in/">
            {% csrf_token %}
            <div class="basic-input">
                <div class="input-box">
                    <input class="input-box-text" type="text" id="user_id" name="user_id" placeholder="아이디">
                </div>
                <div class="input-box">
                    <input class="input-box-text" type="password" id="password" name="password" placeholder="Password">
                </div>
            </div>
            <hr>
            <div class="login-button">
                <button class="btn login-button-style" type="submit">로그인</button>
            </div>
            <div id="social-login">
                <button style="width: 72%;" class="button is-small" id="kakao-btn" type="button">
                            <span style="font-size: 13px;" class="icon">
                              <i class="fas fa-comment"></i>
                              카톡 로그인
                            </span>
                    <!-- <span>카카오톡으로 로그인하기</span> -->
                </button>
            </div>
        </form>
        <div class="id-password-box">
            <div class="id-text">아이디 찾기</div>
            <div class="password-text">비밀번호 찾기</div>
        </div>
        <div class="sign-up-box">
            <div class="sign-up-box-text-1"> "아직 계정이 없으신가요?"
                <a class="sign-up-box-text-2" href="/user/sign-up/">회원가입 하기</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block script %}
    <script>

        document.addEventListener('DOMContentLoaded', function() {
        const kakaoBtn = document.getElementById('kakao-btn')
        kakaoBtn.addEventListener('click', () => {
            const url = '/user/kakao'
            window.location.href = url;
        })
        const findBtn = document.getElementById('find')
        const hiddenBox = document.getElementById('hidden_box')
        const findPw = document.getElementById('find_pw')
        findPw.addEventListener('click', () => {
            hiddenBox.hidden = false
        })
        const next1 = () => {

            data = document.getElementById('find_id').value
            $.ajax({
                type: 'POST',
                url: '/user/isid/',
                data: JSON.stringify(data),
                success: function (data) {
                    if (data.result) {
                        alert(data.result);
                    }
                    if ('ok' in data) {
                        window.location.reload()
                    } else if ('sns' in data) {
                        window.location.reload()
                    }

                }

            });
        }});
        
    </script>
{% endblock %}